<link rel="stylesheet" href="films/films.css">
<div class="row">
    <div class="col-md-12">
        <h2 class="page-header">Filmes para assistir</h2>
    </div>
</div>
<section class="row" ng-show="vm.error || vm.success">
    <div class="col-md-12">
        <p class="alert alert-success" ng-show="vm.success">{{ vm.success.message }}</p>
        <p class="alert alert-danger" ng-show="vm.error">{{ vm.error.message }}</p>
    </div>
</section>
<div class="row">
    <div class="col-md-12">
        <div>
            <nav class="navbar">
                <form ng-submit="vm.create(vm.film)" name="filmForm">
                    <div class="row">
                        <div class="form-group col-md-6 col-sm-12">
                            <label for="name">Nome</label>
                            <input type="text" class="form-control" id="name" ng-model="vm.film.name" required autofocus>
                        </div>
                        <div class="form-group col-md-6 col-sm-12">
                            <label for="description">Descrição</label>
                            <input type="text" class="form-control" id="description" ng-model="vm.film.description">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="pull-right">
                                <button class="btn btn-success" ng-disabled="filmForm.$invalid">Salvar</button>
                                <button type="reset" ng-click="vm.reset()" class="btn btn-danger" ng-disabled="!vm.film.name && !vm.film.description">Limpar</button>
                            </div>
                        </div>
                    </div>
                </form>
                <h3>
                    Faltam {{vm.remaining()}} de {{vm.films.length}} filmes pra assistirmos
                    <button type="button" class="btn btn-warning pull-right" ng-click="vm.archive()" ng-disabled="vm.remaining() == vm.films.length">Limpar assistidos</button>
                </h3>
            </nav>
            <section class="navbar">
                <h4>Busca filmes</h4>
                <form name="filmsForm" novalidate>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="glyphicon glyphicon-search"></i>
                        </span>
                        <input type="text" class="form-control" ng-model="filmSearch" placeholder="Buscar filmes..." aria-describedby="basic-addon1" min-length="3">
                    </div>
                </form>
            </section>
            <div ng-show="!vm.films">Carregando lista de filmes...</div>
            <div class="list-group" ng-init="vm.findAll()">
                <a class="list-group-item" ng-class="{disabled: film.done}" ng-repeat="film in vm.films | filter: filmSearch">
                    <h4 class="list-item-group-heading">
                        <span class="done-{{film.done}}">{{film.name}}</span>
                        <input type="checkbox" class="pull-right" ng-model="film.done" ng-click="vm.done(film)">
                    </h4>
                    <p ng-show="film.description" class="list-item-group-text">{{film.description}}</p>
                    <time ng-show="film.created">Criado em <em>{{film.created | date:'dd/MM/yyyy HH:mm:ss'}}</em></time>
                </a>
            </div>
        </div>
    </div>
</div>