<link rel="stylesheet" href="films/films.css">
<section class="row" ng-show="vm.error || vm.success">
    <div class="col-md-12">
        <p class="alert alert-success" ng-show="vm.success">{{ vm.success.message }}</p>
        <p class="alert alert-danger" ng-show="vm.error">{{ vm.error.message }}</p>
    </div>
</section>
<div class="row">
    <div class="col-md-12">
        <section>
            <div class="row">
                <div class="col-md-12">
                    <h3 class="page-header">Procurar filmes</h3>
                </div>
            </div>
            <form name="searchForm" autocomplete="off" novalidate>
                <div class="row">
                    <div class="col-md-12">
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="glyphicon glyphicon-search"></i>
                            </span>
                            <input type="text" class="form-control" id="Title" ng-change="vm.searchFilmsRemote(vm.search)" ng-model-options="{debounce: 1000}" ng-model="vm.search" required autofocus>
                            <span ng-show="vm.results.totalResults" class="input-group-addon">
                                <strong>{{vm.results.totalResults}}</strong> filmes encontrados.
                            </span>
                        </div>
                    </div>
                </div>
            </form>
            <div ng-show="vm.search && !vm.results">Procurando filmes...</div>
            <div ng-show="vm.results.Response == 'False'" class="alert alert-warning">{{vm.results.Error}}</div>
            <div class="list-group">
                <a href="javascript:void(0)" ng-click="vm.populate(result)" class="list-group-item" ng-repeat="result in vm.results.Search">
                    <div class="row">
                        <div class="col-md-2 col-sm-2 col-xs-3">
                            <img ng-if="result.Poster == 'N/A'" src="https://placeholdit.imgix.net/~text?txtsize=33&txt=Sem%20poster&w=200&h=200" class="img-thumbnail img-responsive" alt="Sem poster">
                            <img ng-if="result.Poster != 'N/A'" ng-src="{{result.Poster}}" class="img-thumbnail img-responsive" alt="{{result.Title}}">
                        </div>
                        <div class="col-md-10 col-sm-10 col-xs-9">
                            <h1 class="list-group-item-heading">{{result.Title}}</h1>
                            <p class="list-group-item-text">
                                Ano: {{result.Year}}
                            </p>
                        </div>
                    </div>
                </a>
            </div>
        </section>
        <div>
            <nav class="navbar">
                <div class="row">
                    <div class="col-md-12">
                        <h3 class="page-header">Salvar filme</h3>
                    </div>
                </div>
                <form ng-submit="vm.create(vm.film)" name="filmForm">
                    <div class="row">
                        <div class="form-group col-md-6 col-sm-12">
                            <label for="name">Nome</label>
                            <input type="text" class="form-control" id="name" ng-model="vm.film.name" required autofocus>
                        </div>
                        <div class="form-group col-md-6 col-sm-12">
                            <label for="description">Descrição</label>
                            <input type="text" class="form-control" id="description" ng-model="vm.film.description">
                            <input type="hidden" ng-model="vm.film.poster">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="pull-right">
                                <button class="btn btn-success" ng-disabled="filmForm.$invalid">Salvar</button>
                                <button type="reset" ng-click="vm.reset()" class="btn btn-danger" ng-disabled="!vm.film.name && !vm.film.description">Limpar</button>
                            </div>
                        </div>
                    </div>
                </form>
            </nav>
            <section class="navbar">
                <div class="row">
                    <div class="col-md-9">
                        <form name="filmsForm" novalidate>
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="glyphicon glyphicon-search"></i>
                                </span>
                                <input type="text" class="form-control" ng-model="filmSearch" placeholder="Buscar filmes..." aria-describedby="basic-addon1" min-length="3">
                            </div>
                        </form>
                    </div>
                    <div class="col-md-3">
                        <button type="button" class="btn btn-warning btn-block pull-right" ng-click="vm.archive()" ng-disabled="vm.remaining() == vm.films.length">
                            <i class="glyphicon glyphicon-trash"></i>
                            Limpar assistidos
                        </button>
                    </div>
                </div>
            </section>
            <div ng-show="!vm.films">Carregando lista de filmes...</div>
            <div class="list-group" ng-init="vm.findAll()">
                <a class="list-group-item" ng-class="{disabled: film.done}" ng-repeat="film in vm.films | filter: filmSearch">
                    <div class="row">
                        <div class="col-md-2 col-sm-2 col-xs-3">
                            <img ng-if="!film.poster" src="https://placeholdit.imgix.net/~text?txtsize=33&txt=Sem%20poster&w=200&h=200" class="img-thumbnail img-responsive" alt="Sem poster">
                            <img ng-if="film.poster" ng-src="{{film.poster}}" class="img-thumbnail img-responsive" alt="{{film.Title}}">
                        </div>
                        <div class="col-md-10 col-sm-10 col-xs-9">
                            <h1 class="list-item-group-heading">
                                <span class="done-{{film.done}}">{{film.name}}</span>
                                <input type="checkbox" class="pull-right" ng-model="film.done" ng-click="vm.done(film)">
                            </h1>
                            <p ng-show="film.description" class="list-item-group-text">
                                {{film.description}}
                                <span class="pull-right">
                                    <i class="glyphicon he" ng-class="{'glyphicon-heart': film.he_liked, 'glyphicon-heart-empty': !film.he_liked}" ng-click="vm.like(film, 'he')"></i>
                                    <i class="glyphicon she" ng-class="{'glyphicon-heart': film.she_liked, 'glyphicon-heart-empty': !film.she_liked}" ng-click="vm.like(film, 'she')"></i>
                                    <i class="glyphicon glyphicon-trash" ng-click="vm.remove(film)"></i>
                                </span>
                            </p>
                            <time ng-show="film.created">
                                Criado em <em>{{film.created | date:'dd/MM/yyyy HH:mm:ss'}}</em>
                            </time>
                        </div>
                    </div>
                </a>
            </div>
            <h4>
                Faltam {{vm.remaining()}} de {{vm.films.length}} filmes pra assistirmos
            </h4>
        </div>
    </div>
</div>