<!DOCTYPE html>
<html lang="pt-br" ng-app="app">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Nossos filmes (Gui e Vespa) - To Do Films</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
</head>

<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">
                    Nossos filmes ;)
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#/">App</a>
                    </li>
                    <li>
                        <a href="#/films">Filmes</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <i class="glyphicon glyphicon-shopping-cart"></i>
                            Carrinho
                            <span class="label label-default">{{ carrinho.length }}</span>
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li ng-show="carrinho.length == 0"><a href="#">Carrinho vazio</a></li>
                            <li ng-show="carrinho.length > 0"><a href="#" ng-repeat="cerveja in carrinho">{{ cerveja.nome }} ({{ cerveja.cervejaria.nome }})</a></li>
                            <li role="separator" class="divider"></li>
                            <li ng-class="{'disabled': carrinho == 0}"><a href="#" ng-click="limpaCarrinho()">Limpar carrinho</a></li>
                        </ul>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
    <div class="container" ng-view></div>
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/angular-route/angular-route.min.js"></script>
    <script src="app/module.js"></script>
    <script src="app/controller.js"></script>
    <script src="app/constants.js"></script>
    <script src="films/module.js"></script>
    <script src="films/routes.js"></script>
    <script src="films/service.js"></script>
    <script src="films/controller.js"></script>
</body>
</html>